body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  line-height: 16px; 
  background-color: black;
  height: 100vh;
  background-size: cover;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}



/* Estilo para o hero */
.hero {
  background-image: url('/images/simbolo-justicaTelaInicial.png'); 
  background-size: cover; 
  background-position: top; 
  background-repeat: no-repeat; 
  color: white; 
  padding: 60px 0; 
  padding-top: 100px; 
  height: 100vh; 
  display: flex; 
  align-items: center; 
  flex-direction: column;
  justify-content: center; 
}

.hero-content {
  max-width: 50%; 
  text-align: center; 
  margin-right: 5%; 
}

.hero h1 {
  font-size: 5rem; 
  font-weight: 600; 
  line-height: 1.1; 
  margin-bottom: 20px; 
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3), 0 0 10px rgba(255, 255, 255, 0.2);
}

.hero h1 span {
  display: block; 
}

.hero p {
  font-size: 1.5rem; 
  margin-bottom: 120px; 
}

.hero .btn {
  padding: 15px 35px;
  font-size: 2rem;
  display: inline-block;
  margin: 0 auto;
  background-color: #000; 
  color: #fff; 
  border: none; 
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #000, #222);
  position: relative; 
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in-out; 
}

/* Efeito de luz ao redor do botão */
.hero .btn::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 45px rgba(255, 255, 255, 0.3);
  z-index: 1; 
  animation: pulse-light 2s infinite; 
  pointer-events: none; 
}

/* Animação para o efeito de luz */
@keyframes pulse-light {
  0% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 45px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 45px rgba(255, 255, 255, 0.8), 0 0 60px rgba(255, 255, 255, 0.6);
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 45px rgba(255, 255, 255, 0.3);
  }
}

.hero .btn:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.6); 
}


/* Seções abaixo do hero*/
section {
  padding: 60px 0;
}

#sobre {
  background-color: black;
  color: white;
  padding: 40px 0;
}

#endereco {
  background-color: black;
  color: white;
  padding: 40px 0;
}

/* Estilo para a navbar */
.navbar {
  background-color: rgba(0, 0, 0, 0.8) !important;
  padding: 10px 15px;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: static; 
}

/* Estilo para os links no menu */
.navbar-nav .nav-item .nav-link {
  color: white; 
  font-size: 1.6rem;
  margin-right: 20px;
  transition: color 0.5s ease; 
}

/* Muda a cor do link ao passar o mouse */
.navbar-nav .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.9); 
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Ajuste para quando a página for rolada */
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.logo-img {
  height: 80px;  
  width: auto;   
  max-width: 100%;
  object-fit: contain; 
  border-radius: 10px;
}
